body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.div-text-h {
  margin-left: 40px;
  margin-top: 10px;
  text-decoration: none;
}

.text-heading {
  color: white;
  cursor: pointer;
}

.div-btn-add-h {
  margin-top: 20px;
  margin-right: 40px;
}

.btn-add-h {
  background-color: rgb(29, 201, 129);
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s ease;
}

.btn-add-h:hover {
  background-color: rgb(21, 110, 73);
}

.task-form {
  margin: auto;
  width: 280px;
  height: 350px;
  background-color: rgb(28, 73, 62);
  margin-top: 80px;
  border-radius: 20px;
}

.task-form-title {
  color: white;
  margin-left: 115px;
}

.div-input-title-form {
  margin-left: 35px;
  margin-top: 30px;
}

.input-title-form {
  width: 190px;
  height: 40px;
  border-radius: 8px;
  border: none;
  outline: none;
  padding-left: 15px;
}

.div-textarea-form {
  margin-left: 35px;
  margin-top: 15px;
}

.textarea-form {
  width: 190px;
  height: 60px;
  border-radius: 8px;
  border: none;
  outline: none;
  padding-top: 20px;
  padding-left: 15px;
}

.div-btn-form {
  text-align: center;
  margin-top: 40px;
  margin-right: 2px;
}

.btn-form {
  width: 200px;
  height: 35px;
  border-radius: 8px;
  border: none;
  background-color: rgb(29, 201, 129);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s ease;
}

.btn-form:hover {
  background-color: rgb(28, 148, 98);
}

.tasklist-container {
  display: flex;
}

.task-list {
  width: 600px;
  height: 150px;
  background-color: rgb(28, 73, 62);
  margin: auto;
  border-radius: 8px;
}

.task-list-map {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.list-map-content {
  color: white;
}

.list-map-content h2 {
  margin: 10px;
}

.list-map-content h6 {
  margin: 10px;
}

.list-map-content p {
  margin: 10px;
}

/* .div-btn-tasklist { */
  /* display: flex; */
  /* justify-content: end; */
  /* margin: 10px; */
  /* margin-top: 55px; */
  /* margin-right: 20px; */
/* } */

.btn-edit {
  background-color: rgb(110, 110, 110);
  text-decoration: none;
  margin-right: 8px;
  padding: 9px;
  padding-top: 5px;
  padding-bottom: 8px;
  border-radius: 6px;
  color: white;
  transition: all 1s ease;
}

.btn-edit:hover {
  background-color: rgb(56, 56, 56);
}

.btn-delete {
  background-color: rgb(136, 6, 6);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 35px;
  transition: all 1s ease;
}

.btn-delete:hover {
  background-color: rgb(78, 4, 4);
}

/* .div-btn-done {
  bottom: 20px;
} */

.btn-done {
  background-color: rgb(36, 33, 189);
  color: white;
  border-radius: 6px;
  width: 60px;
  height: 30px;
  border: none;
  cursor: pointer;
  transition: all 1s ease;
}

.btn-done:hover {
  background-color: rgb(6, 3, 148);
}